apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: helpdesk
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.35.0 (9532ceef3)
  labels:
    io.kompose.service: webserver
  name: webserver
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: webserver
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.35.0 (9532ceef3)
      labels:
        io.kompose.service: webserver
    spec:
      containers:
        - image: suppregistry.azurecr.io/helpdesk/supp-webserver-kubernetes:1.0.0
          name: prod-webserver-appservice
          ports:
            - containerPort: 80
              protocol: TCP
      restartPolicy: Always
