<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [mode]="'side'"
      [opened]="true">
    <mat-toolbar>
      <img src="assets/logo.png" alt="SUPP Logo" class="logo">
    </mat-toolbar>
    <mat-nav-list>
      <div class="user-info">
        <mat-icon class="avatar">account_circle</mat-icon>
        <div class="user-details">
          <span class="user-name">{{userName}}</span>
          <span class="user-email">{{userEmail}}</span>
        </div>
      </div>

      <h3 mat-subheader>APLICAÇÕES</h3>
      <a mat-list-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span>Painel</span>
      </a>
      <a mat-list-item routerLink="/tickets">
        <mat-icon>assignment</mat-icon>
        <span>Tarefas</span>
      </a>
      
      <h3 mat-subheader>MÓDULOS</h3>
      <a mat-list-item routerLink="/admin">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Administrador</span>
      </a>
      
      <h3 mat-subheader>CUSTOMIZAÇÃO</h3>
      <a mat-list-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Aparência</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-spacer"></span>
      <div class="toolbar-items">
        <button mat-icon-button>
          <mat-icon [matBadge]="notificationCount" matBadgeColor="warn">notifications</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>